<link rel="stylesheet" href="main.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="main.js"></script>

<explanation>
    Check out each element within your inspector to see live updates of hover and click!
</explanation>

<div class="home">
    <div class="header">
        <div class="navbar">
            <div class="location1">loc1</div>
            <div class="location2">loc2</div>
            <div class="location3">loc3</div>
        </div>
        <div class="search">
            <input type="text" class="input">
            <button class="button">search</button>
        </div>
    </div>
    <div class="content">
        <div class="hero">
            <div class="hero-stuff">this is a hero</div>
            <div class="call-to-arms">do something</div>
        </div>
    </div>
    <div class="footer">
        <div class="socials">
            <div class="facebook">facebook</div>
            <div class="twitter">twitter</div>
            <div class="pinterest">pinterest</div>
            <div class="youtube">youtube</div>
            <div class="linkedin">linkedin</div>
        </div>
    </div>
</div>