body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  font-family: sans-serif;
}

explanation {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  height: 1rem;
  padding: 0.5rem;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgba(10, 10, 10, 0.9);
  color: rgba(200, 200, 200, 0.9);
}

explanation:after {
  display: inline-flex;
  visibility: visible;
  content: "?";
  height: 1.25rem;
  width: 1.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgba(10, 10, 10, 0.9);
  color: rgba(200, 200, 200, 0.9);
  border: none;
  animation: pulse 1.6s infinite;
}

explanation:hover {
  visibility: visible;
}

explanation:hover:after {
  visibility: hidden;
}

.home {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem;
}

.navbar {
  display: flex;
  flex-grow: 1;
}

.navbar > * {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid silver;
}

.search {
  flex-grow: 1;
  display: flex;
  padding: 0.5rem 0;
}

.search .input {
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  display: flex;
}

.hero {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 99, 71, 0.2);
}

.hero .call-to-arms {
  padding: 0.5rem 1rem;
  background: rgba(255, 99, 71, 0.5);
  margin: 0.75rem;
}

.footer .socials {
  display: flex;
  padding: 0.5rem;
}

.footer .socials > * {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(100, 100, 100, 0.85);
  }
  70% {
    box-shadow: 0 0 0 1em rgba(100, 100, 100, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(100, 100, 100, 0);
  }
}
